.footer_container {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 2rem 0;
  width: 100%;
  margin-top: 2rem;

  .footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    .footer_top {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      h1 {
        font-size: 3rem;
        font-style: italic;
        color: black;
      }
      p {
        width: 60%;
        text-align: center;
        color: rgb(136, 136, 136);
        font-style: italic;
      }
    }
    .footer_bottom {
      border-top: 1px solid lightgray;
      padding-top: 1.2rem;
      display: flex;
      justify-content: space-between;
      gap: 10rem;
      align-items: center;
      p {
        font-size: 13px;
        color: rgb(184, 184, 184);
      }
      .social_icons {
        display: flex;
        gap: 1.2rem;
        a {
          color: darkgray;
          svg {
            font-size: 1.2rem;
          }
        }
        a:nth-child(1):hover {
          color: rgb(33, 77, 251);
        }
        a:nth-child(2):hover {
          color: #f519cc;
        }
        a:nth-child(3):hover {
          color: #5eb9fe;
        }
        a:nth-child(4):hover {
          color: red;
        }
      }
    }
  }
}
@media (max-width: 668px) {
  .footer_content {
    width: 90%;
  }
}
